.login-page {
  min-height: 90vh;
  /* margin: 0 5rem; */
  background: var(--yellow-bg);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  grid-column-gap: 1rem;
  font-family: sans-serif;
  /* overflow: hidden; */
}

.login-area {
  grid-column: 2/3;
}

.login-area, .signup-area {
  padding: 2rem;
  align-self: center;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.login-area:hover, .signup-area:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.login-form, .signup-form {
  width: 100%;
  background: var(--blue-bg);
  border: 1px solid #130f40;
  height: 100%;
  padding: 2rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #130f40;
}

.login-page i, .login-page h1 {
  margin-bottom: 2rem;
  font-size: 40px;
}

.login-form input[type="text"], .login-form input[type="password"] {
  width: 90%;
  font-size: 18px;
  padding: 8px 0;
  margin: 8px 0;
  border: none;
  outline: none;
  background: none;
  color: #130f40;
  border-bottom: 1px solid #636e72;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
  border-bottom: 2px solid #130f40;
}

.login-form a {
  color: #130f40;
  text-decoration: none;
  padding: 1rem;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form input[type="submit"], .signup-form input[type="submit"] {
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: var(--button-color);
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.login-form input[type="submit"]:hover, .signup-form input[type="submit"]:hover {
  border: 3px solid var(--button-color);
  color: #ffffff;
  background: #0f1923;
}

.most-valuable-or {
  align-self: center;
  justify-self: center;
  font-family: "Times New Roman", Times, serif;
  color: #130f40;
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

.signup-area {
  grid-column: 4/5;
}

.signup-form input[type="text"], .signup-form input[type="password"] {
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
  margin: 8px 0;
  border: none;
  outline: none;
  background: none;
  color: #130f40;
  border-bottom: 1px solid #636e72;
  border-right: 1px solid rgb(135, 133, 133);
}

.signup-form input[type="text"]:focus, .signup-form input[type="password"]:focus {
  border-bottom: 2px solid #130f40;
  border-right: 1px solid silver;
}

@media only screen and (max-width: 1000px) {
  .login-page {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .login-area, .signup-area {
    width: 80%;
  }
  .signup-area {
    margin-bottom: 5rem;
  }
  .login-area:hover, .signup-area:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .most-valuable-or {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .login-area, .signup-area {
    padding: 0;
  }
  .login-page i, .login-page h1 {
    font-size: 30px;
    margin: 0;
  }
  .login-form input[type="submit"], .signup-form input[type="submit"] {
    font-size: 16px;
    padding: 6px;
  }
  .signup-area {
    margin-bottom: 8rem;
  }
}