.business-view-page {
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 8fr;
}

/* Left Column / Filter Column  */

.filter-column {
  background: #b2bec3;
  border-right: 1px solid #333;
  padding: 0 2rem;
}

.bvp-dropdown-category-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: .5rem 0;
}

.filter-column h2 {
  text-align: center;
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid #333;
}

.filter-items {
  margin-left: 10px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.filter-list {
  margin-top: 1rem;
}

.filter-items input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.filter-items:hover input~.checkmark {
  background-color: #ccc;
}

.filter-items input:checked~.checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-items input:checked~.checkmark:after {
  display: block;
}

.filter-items .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-column-buttons button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-family: sans-serif;
  margin: .5rem;
}

/* Right Column / Business Column  */

.bvp-business-column {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}