.home-page {
  /* height: 90vh; */
  display: grid;
  grid-template-areas: "filter main side";
  grid-template-columns: 2fr 8fr 1fr;
}

.home-filter-column {
  grid-area: filter;
  background: #b2bec3;
  border-right: 1px solid #333;
}

.home-filter-column h2 {
  grid-area: main;
  text-align: left;
  padding: 1rem;
}

.home-side-bar {
  grid-area: side;
  background: #317794;
}
