.Review-Card {
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 200px;
  /* background: #324150; */
  color: #0b2e4b;
  background: #FDF6EC;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 270px;
  padding: 0.75rem;
  height: fit-content;
}

.rc-profile-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.rc-profile-image {
  display: inline-block;
  padding: 5px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  animation: animated-gradient 4s linear infinite;
  margin: auto;
  margin-bottom: 7%;
  border-radius: 50%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 200% 200%;
}

.rc-profile-image img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.rc-profile-left h1 {
  font-size: 23px;
  /* font-weight: 500; */
}

.rc-profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.rc-topic-text {
  text-align: center;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.rc-topic-text h1 {
  font-size: 28px;
}

.rc-topic-text h2 {
  font-size: 20px;
  font-weight: 500;
  padding: 0.5rem 0;
}
