.Review-Card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background: #324150;
    color: white;
    text-align: center;
    padding: 2em;
}

.name {
    font-size: 1rem;
    line-height: 1.1;
    display: flex;
    margin-bottom: 0;
    padding: 0;
    width: 150px;
    letter-spacing: 1px;
    margin: auto;
}

.profile-sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px;
    display: inline-block;
    padding: 6px;
    background: linear-gradient(130deg, #74B9FF, #E66767);
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: 100% 100%;
}


.business {
    margin: 1px;
    color: #E66767;
    font-size: 1.1em;
}

.business::after {
    content: "";
    display: block;
    height: 1px;
    width: 10em;
    background: #5bcbf0;
    margin: 0.7em auto;
    opacity: 0.35;
}

.subject {
    margin: 5px;
}

.content {
    margin-top: 10px;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .Review-Card {
        flex-direction: row;
    }
    .profile-main {
        text-align: left;
        margin-left: 1.3em;
    }

    .business::after {
        margin-left: 0;
    }
}
