.Review-Card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
  box-shadow:
  0.7px 0.7px 2.2px rgba(0, 0, 0, 0.02),
  1.7px 1.7px 5.3px rgba(0, 0, 0, 0.028),
  3.1px 3.1px 10px rgba(0, 0, 0, 0.035),
  5.6px 5.6px 17.9px rgba(0, 0, 0, 0.042),
  10.4px 10.4px 33.4px rgba(0, 0, 0, 0.05),
  25px 25px 80px rgba(0, 0, 0, 0.07);
  width: 100%;
  min-height: 200px;
  border-radius: 20px;
  /* background: #324150; */
  color: #0b2e4b;
  background: #FDF6EC;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 200px;
  padding: 0.75rem;
  height: fit-content;
}

.rc-profile-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.rc-profile-image {
  display: inline-block;
  padding: 5px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  animation: animated-gradient 4s linear infinite;
  margin: auto;
  margin-bottom: 7%;
  border-radius: 50%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 200% 200%;
}

.rc-profile-image img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.rc-profile-left h1 {
  font-size: 23px;
  /* font-weight: 500; */
}

.rc-profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.rc-topic-text {
  text-align: center;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.rc-topic-text h1 {
  font-size: 28px;
}

.rc-topic-text h2 {
  font-size: 20px;
  font-weight: 400;
  padding: 0.5rem 0;
  margin-bottom: 5%;
}

.rc-profile-right p {
  font-weight: 550;
  margin-top: 10px;
}