.Profile-Card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: #324150;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 2em;
}

.title {
  margin-top: 5px;
  margin-bottom: 0;
  color: #E66767;
  font-size: 1.5em;
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px;
  display: inline-block;
  padding: 6px;
  background: linear-gradient(130deg, #74B9FF, #E66767);
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 100% 100%;
}

.contact-btn {
  display: inline-block;
  padding: 8px 29px;
  color: #E66767;
  border: 2px solid ;
  margin-top: 8px;
  border-radius: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.contact-btn:hover {
  background: #E66767;
  color: #86d1ee;
}

.business {
  margin: 1px;
  color: #E66767;
  font-size: 1.1em;
}

/* .desc::after {
  content: "";
  display: block;
  height: 1px;
  width: 17em;
  background: #5bcbf0;
  margin: 0.7em auto;
  opacity: 0.35;
} */

.profile-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
.contact-btn{
  width: 100%;
}
.desc {
  text-align: center;
  /* height: 50px; */
  /* width: 50px; */
  margin-top: 10px;
  margin-bottom: 0;
}

.buttons {
  margin: 1px;
  display: flex;
  justify-content: center;
}

.buttons ul {
  margin: 8px;
  display: flex;
}

.buttons ul li {
  list-style: none;
}

.buttons ul li a {
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  margin: 0 5px;
  border-radius: 50%;
  padding: 6.5px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgb(196, 194, 194), #fff);
  transition: .5s;
}

.buttons ul li a:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}


@media (min-width: 600px) {
  .Profile-Card {
      flex-direction: row;
  }

  .profile-main {
      text-align: left;
      margin-left: 1.3em;
  }

  .desc::after {
      margin-left: 0;
  }

  /* .buttons ul {
    margin-left: -8px;
  } */
}
