.business-card {
  --primary-color: #2083D5;
  /* #0087F5; */
  --background-color: #FDF6EC;
  /* --background-color: radial-gradient(circle, #324150, #1E6381); */
  width: 100%;
  background: var(--background-color);
  color: #0b2e4b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 270px;
  height: fit-content;
}


.business-card:hover {
  background: #b4cbde;
  cursor: pointer;
}
/* Left Column */

.bc-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bc-business-image {
  display: block;
  padding: 5px;
  background: linear-gradient(130deg, #f2f873, var(--primary-color));
  margin-bottom: 7%;
  -webkit-border-radius: 20%;
  background-size: 200% 200%;
  animation: animated-gradient 4s linear infinite;

  /* -webkit-animation: animated-gradient 2s linear infinite; */
}

/* .star-grad {
display: block;
width: auto;
} */

.star-ratings {
  min-width: 0;
}

.bc-business-image img {
  display: block;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 20%;
  flex: none;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  55% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}



/* Right Column */

.bc-right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.bc-right-column h1 {
  color: var(--primary-color);
  font-size: 28px;
  margin: 0.3rem 0;
}

.bc-right-column h2 {
  /* text-indent: 50px; */
  font-size: 22px;
  font-weight: 500;
}

.bc-right-column h3 {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.bc-right-column h3::before {
  content: "";
  display: block;
  height: 1px;
  width: 85%;
  background: #5bcbf0;
  margin: 5px auto;
  opacity: 0.35;
}

.bc-right-column a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
  padding: 0.2rem 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.bc-right-column a:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Media Queries */

/* @media only screen and (min-width: 1150px) and (max-width: 1455px) {
  .bc-right-column h1 {
    font-size: 25px;
  }
  .bc-right-column a {
    font-size: 20px;
  }
} */
/* 
@media only screen and (max-width: 700px) {
  .business-card {
    grid-template-columns: 1fr;
    align-items: start;
  }
  .bc-right-column {
    align-items: center;
  }
  .bc-business-image {
    margin-bottom: 3%;
  }
} */

/* @media only screen and (max-width: 952px) {
  .business-card {
    grid-template-columns: 1fr;
    align-items: start;
  }
  .bc-left-column {
    margin: 0;
    padding: 0;
  }
  .bc-business-image {
    padding: 4px;
    margin-bottom: 3%;
  }
  .bc-business-image img {
    width: 100px;
    height: 100px;
  }
  .bc-right-column h1 {
    margin: 0;
  }
  .bc-right-column a {
    font-size: 20px;
  }
} */

/* @media only screen and (max-width: 600px) {
  .bc-right-column h1 {
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  .bc-right-column h2 {
    font-size: 24px;
  }
  .bc-right-column h3 {
    font-size: 16px;
  }

} */